@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

$main-font: "Annie Use Your Telescope", serif;
$sec-font: "Poppins", sans-serif;
$prim-color: #fff;
$prim-bg: #000;
$btn-font: "Limelight", cursive;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $prim-bg;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .headerContainer {
    width: 50vw;
    height: auto;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.8vw;
    font-family: $main-font;
    text-align: center;

    span {
      margin-left: auto;
      margin-right: auto;
      padding-left: 5px;
      display: inline-flex;
      overflow: hidden;
    }
  }

  h2 {
    position: relative;
  }

  h2::before {
    content: "";
    position: absolute;
  }

  .bodyContainer {
    font-family: $sec-font;
    h2 {
      vertical-align: middle;
      margin-top: 5vh;
      margin-bottom: 3vh;
      margin-left: 10vw;
      // margin-right: 83vw;
      font-size: 2.25rem;
    }
    p {
      width: 10ch;
      margin-top: 1rem;
      margin-left: 5vw;
      margin-right: 10vw;
      font-size: 1.2rem;
    }
  }
}

.center {
  position: fixed;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.btn {
  position: relative;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #d65db1, #ff6f91);
  color: white;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  padding: 20px 40px;
  font-size: 22px;
  font-family: $btn-font;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.btn:before {
  position: absolute;
  left: 12px;
  top: 10px;
  background: linear-gradient(45deg, #d65db1, #ff6f91);
  border: 0;
  border-radius: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.btn:hover {
  left: 12px;
  top: 10px;
  background: linear-gradient(45deg, #ff6f91, #ff9671);
  color: #fff;
}

.btn:hover:before {
  left: -12px;
  top: -10px;
  background: #ff9671;
}

.btn,
.btn:before {
  transition: all 0.3s linear;
}

//section color

#section0 {
  background: -webkit-linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

#section1 {
  background: linear-gradient(
    45deg,
    #161918,
    #3d403f,
    #686b6a,
    #969a99,
    #c8cccb
  );
}

#section2 {
  background: linear-gradient(
    45deg,
    #0df5a8,
    #00dcb7,
    #00c1c2,
    #00a5c5,
    #0088c0,
    #006cb2
  );
}

#section3 {
  background: -webkit-linear-gradient(
    45deg,
    #1b4f5b,
    #33607a,
    #596e94,
    #867aa8,
    #b486b0,
    #df93af
  );
  background: linear-gradient(
    45deg,
    #1b4f5b,
    #33607a,
    #596e94,
    #867aa8,
    #b486b0,
    #df93af
  );
}

//interest
h4 {
  font-size: 1.5rem;
  text-align: center;
  color: #4148a3;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  max-width: 280px;
  min-height: 250px;
  background: #02b875;
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
  margin: 35px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.card:nth-child(2) {
  background: #4181ee;
}

.card-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-bottom: 10px;
}
.card-content {
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  line-height: 1.5;
}

//lesson wrapper

h5 {
  font-size: 1.5em;
  text-align: center;
}

.slideWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#img1 {
  margin-top: 15px;
  margin-left: 10px;
  width: 300px;
  height: 150px;
}

#img4 {
  width: 450px;
  height: 280px;
  margin-left: 15px;
  margin-top: 10px;
}
//side nav color

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #9c1b4e !important;
}

//next/previous btn disabled

.fp-controlArrow {
  display: none !important;
}

//change tooltips color

.fp-tooltip {
  color: #161918 !important;
  font-weight: bold !important;
  font-size: 1em !important;
}

//social media contact

#socialHeader {
  justify-content: center;
  position: absolute;
  align-items: center;
  left: 75vw;
  top: 22vh;
  min-height: 100vh;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;

  div {
    position: relative;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex !important;
      background: linear-gradient(
        to right,
        #1b4f5b,
        #33607a,
        #596e94,
        #867aa8,
        #b486b0
      );

      h6 {
        font-size: 1em !important;
        color: #e6e6e6;
      }
    }
    div::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -5px;
      width: 100%;
      height: 10px;
      background: linear-gradient(
        45deg,
        #1b4f5b,
        #33607a,
        #596e94,
        #867aa8,
        #b486b0
      );
      transform: skewX(-41deg);
    }
    div::after {
      content: "";
      position: absolute;
      top: 5px;
      left: -9px;
      width: 9px;
      height: 100%;
      background: hsl(0, 0%, 10%);
      transform: skewY(-49deg);
    }
  }
}

#socialMedia {
  position: relative;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 50vw;

  li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 20px;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex !important;
      background: linear-gradient(
        to right,
        #1b4f5b,
        #33607a,
        #596e94,
        #867aa8,
        #b486b0
      );
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 30px !important;
    }
  }

  li::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: linear-gradient(
      45deg,
      #1b4f5b,
      #33607a,
      #596e94,
      #867aa8,
      #b486b0
    );
    transform: skewX(-41deg);
  }

  li::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: hsl(0, 0%, 10%);
    transform: skewY(-49deg);
  }

  li:hover span {
    z-index: 1000;
    transition: 0.3s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
  }

  li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
  }

  li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
  }

  li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
  }

  li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
  }

  li:nth-child(1):hover span {
    background: #52d3e1;
  }

  li:nth-child(2):hover span {
    background: #2c3456;
  }

  li:nth-child(3):hover span {
    background: #ea6e96;
  }

  li:nth-child(4):hover span {
    background: #fceb00;
  }
}

//for phone
@media screen and (min-width: 320px) and (max-width: 480px) {
  p {
    font-size: 0.9em !important;
    width: 25ch !important;
  }
  .center {
    top: 85vh !important;
    left: 17vh;

    .btn {
      background: linear-gradient(45deg, #845ec2, #d65db1);
    }
    .btn::before {
      background: linear-gradient(45deg, #845ec2, #d65db1);
    }
    .btn:hover {
      background: linear-gradient(45deg, #d65db1, #ff6f91);
    }
    .btn:hover::before {
      background: #ff9671;
    }
  }

  #socialHeader {
    left: 90vw !important;
  }
}

//for ipad/tablet
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    .bodyContainer {
      p {
        font-size: 1.2em !important;
        width: 35ch !important;
      }
    }
  }
}

//small screen and laptop
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    .bodyContainer {
      p {
        font-size: 1.2em !important;
        width: 45ch !important;
      }
    }
  }
  .center {
    top: 75vh;
    left: 17vh;

    .btn {
      background: linear-gradient(45deg, #d65db1, #ff6f91);
    }

    .btn::before {
      background: linear-gradient(45deg, #d65db1, #ff6f91);
    }

    .btn:hover {
      background: linear-gradient(45deg, #ff6f91, #ff9671);
    }

    .btn:hover::before {
      background: #ff9671;
    }
  }
  #socialHeader {
    left: 70vw !important;
  }
}

//desktop and large screen
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    .bodyContainer {
      p {
        width: 45ch !important;
      }
    }
  }

  #socialHeader {
    left: 65vw !important;
  }
}

//extralarge screen
@media screen and (min-width: 1201px) {
  .container {
    .bodyContainer {
      p {
        font-size: 1.8em !important;
        width: 50ch !important;
      }
    }
  }

  #socialHeader {
    left: 60vw !important;
  }
}
