@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container .headerContainer {
  width: 50vw;
  height: auto;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.8vw;
  font-family: "Annie Use Your Telescope", serif;
  text-align: center;
}

.container .headerContainer span {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.container h2 {
  position: relative;
}

.container h2::before {
  content: "";
  position: absolute;
}

.container .bodyContainer {
  font-family: "Poppins", sans-serif;
}

.container .bodyContainer h2 {
  vertical-align: middle;
  margin-top: 5vh;
  margin-bottom: 3vh;
  margin-left: 10vw;
  font-size: 2.25rem;
}

.container .bodyContainer p {
  width: 10ch;
  margin-top: 1rem;
  margin-left: 5vw;
  margin-right: 10vw;
  font-size: 1.2rem;
}

.center {
  position: fixed;
  top: 70%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  position: relative;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #d65db1, #ff6f91);
  color: white;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  padding: 20px 40px;
  font-size: 22px;
  font-family: "Limelight", cursive;
}

.btn a {
  color: inherit;
  text-decoration: none;
}

.btn:before {
  position: absolute;
  left: 12px;
  top: 10px;
  background: linear-gradient(45deg, #d65db1, #ff6f91);
  border: 0;
  border-radius: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.btn:hover {
  left: 12px;
  top: 10px;
  background: linear-gradient(45deg, #ff6f91, #ff9671);
  color: #fff;
}

.btn:hover:before {
  left: -12px;
  top: -10px;
  background: #ff9671;
}

.btn,
.btn:before {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#section0 {
  background: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
}

#section1 {
  background: linear-gradient(45deg, #161918, #3d403f, #686b6a, #969a99, #c8cccb);
}

#section2 {
  background: linear-gradient(45deg, #0df5a8, #00dcb7, #00c1c2, #00a5c5, #0088c0, #006cb2);
}

#section3 {
  background: linear-gradient(45deg, #1b4f5b, #33607a, #596e94, #867aa8, #b486b0, #df93af);
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  color: #4148a3;
  font-family: "Annie Use Your Telescope", serif;
  letter-spacing: 0.3em;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  max-width: 280px;
  min-height: 250px;
  background: #02b875;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  margin: 35px;
  -webkit-box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.card:nth-child(2) {
  background: #4181ee;
}

.card-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.card-content {
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.slide {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  color: #e6e6e6;
}

.slide ul {
  list-style: none;
}

h5 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.slideWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#img1 {
  margin-top: 15px;
  margin-left: 10px;
  width: 300px;
  height: 150px;
}

#img4 {
  width: 450px;
  height: 280px;
  margin-left: 15px;
  margin-top: 10px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #9c1b4e !important;
}

.fp-controlArrow {
  display: none !important;
}

.fp-tooltip {
  color: #161918 !important;
  font-weight: bold !important;
  font-size: 1em !important;
}

#socialHeader {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 75vw;
  top: 22vh;
  min-height: 100vh;
  -webkit-transform: rotate(-25deg) skew(25deg);
          transform: rotate(-25deg) skew(25deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#socialHeader h6 {
  font-family: "Poppins", sans-serif;
}

#socialHeader div {
  position: relative;
  width: 100px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#socialHeader div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: -webkit-gradient(linear, left top, right top, from(#1b4f5b), color-stop(#33607a), color-stop(#596e94), color-stop(#867aa8), to(#b486b0));
  background: linear-gradient(to right, #1b4f5b, #33607a, #596e94, #867aa8, #b486b0);
}

#socialHeader div div h6 {
  font-size: 1em !important;
  color: #e6e6e6;
}

#socialHeader div div::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: linear-gradient(45deg, #1b4f5b, #33607a, #596e94, #867aa8, #b486b0);
  -webkit-transform: skewX(-41deg);
          transform: skewX(-41deg);
}

#socialHeader div div::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #1a1a1a;
  -webkit-transform: skewY(-49deg);
          transform: skewY(-49deg);
}

#socialMedia {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-25deg) skew(25deg);
          transform: rotate(-25deg) skew(25deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  min-width: 50vw;
}

#socialMedia li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

#socialMedia li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: -webkit-gradient(linear, left top, right top, from(#1b4f5b), color-stop(#33607a), color-stop(#596e94), color-stop(#867aa8), to(#b486b0));
  background: linear-gradient(to right, #1b4f5b, #33607a, #596e94, #867aa8, #b486b0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 30px !important;
}

#socialMedia li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: linear-gradient(45deg, #1b4f5b, #33607a, #596e94, #867aa8, #b486b0);
  -webkit-transform: skewX(-41deg);
          transform: skewX(-41deg);
}

#socialMedia li::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #1a1a1a;
  -webkit-transform: skewY(-49deg);
          transform: skewY(-49deg);
}

#socialMedia li:hover span {
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

#socialMedia li:hover span:nth-child(5) {
  -webkit-transform: translate(40px, -40px);
          transform: translate(40px, -40px);
  opacity: 1;
}

#socialMedia li:hover span:nth-child(4) {
  -webkit-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
  opacity: 0.8;
}

#socialMedia li:hover span:nth-child(3) {
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  opacity: 0.6;
}

#socialMedia li:hover span:nth-child(2) {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  opacity: 0.4;
}

#socialMedia li:hover span:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0.2;
}

#socialMedia li:nth-child(1):hover span {
  background: #52d3e1;
}

#socialMedia li:nth-child(2):hover span {
  background: #2c3456;
}

#socialMedia li:nth-child(3):hover span {
  background: #ea6e96;
}

#socialMedia li:nth-child(4):hover span {
  background: #fceb00;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  p {
    font-size: 0.9em !important;
    width: 25ch !important;
  }
  .center {
    top: 85vh !important;
    left: 17vh;
  }
  .center .btn {
    background: linear-gradient(45deg, #845ec2, #d65db1);
  }
  .center .btn::before {
    background: linear-gradient(45deg, #845ec2, #d65db1);
  }
  .center .btn:hover {
    background: linear-gradient(45deg, #d65db1, #ff6f91);
  }
  .center .btn:hover::before {
    background: #ff9671;
  }
  #socialHeader {
    left: 90vw !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container .bodyContainer p {
    font-size: 1.2em !important;
    width: 35ch !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container .bodyContainer p {
    font-size: 1.2em !important;
    width: 45ch !important;
  }
  .center {
    top: 75vh;
    left: 17vh;
  }
  .center .btn {
    background: linear-gradient(45deg, #d65db1, #ff6f91);
  }
  .center .btn::before {
    background: linear-gradient(45deg, #d65db1, #ff6f91);
  }
  .center .btn:hover {
    background: linear-gradient(45deg, #ff6f91, #ff9671);
  }
  .center .btn:hover::before {
    background: #ff9671;
  }
  #socialHeader {
    left: 70vw !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container .bodyContainer p {
    width: 45ch !important;
  }
  #socialHeader {
    left: 65vw !important;
  }
}

@media screen and (min-width: 1201px) {
  .container .bodyContainer p {
    font-size: 1.8em !important;
    width: 50ch !important;
  }
  #socialHeader {
    left: 60vw !important;
  }
}
/*# sourceMappingURL=sub.css.map */